
html, body {
    background-color: rgb(14, 23, 71);
}

canvas {
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 5px solid #fff;
}

#countScore, #btn {
    color: white;
    font-size: 17px;
    border: 2px solid white;
    text-align: right;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 350px;
}

#countScore {
    width: 30px;
    height: 20px;
    left: 0;
    opacity: 0.7;
}

#btn {
    width: 50px;
    height: 24px;
    left: 100px;
    background-color: #000;
}

#btn:focus {
    opacity: 0.7;
}

